__pycache__/level.cpython-38.pyc
__pycache__/preguntas.cpython-38.pyc
__pycache__/print_preguntas.cpython-38.pyc
__pycache__/question.cpython-38.pyc
__pycache__/shuffle.cpython-38.pyc
__pycache__/validador.cpython-38.pyc
__pycache__/verify.cpython-38.pyc
